.content {
  padding-top: 168px; /* Adjust this value based on the combined height of the top-header and black-banner */
  text-align: center;
}

.content img{
  height: auto; /* Adjust the height according to your design */
  width: 100%;
  padding: 0%;
}

.image-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 20px;
}

.image-placeholder {
  width: 200px;
  height: 200px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 18px;
  color: #666;
}
